<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>hogehoge!!!!!!!</div>
  <form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="${_csrf.token}"> <!-- CSRFトークン -->
    <button type="submit">Logout</button>
  </form>
  <form action="/sample" method="get">
    <button type="submit">sample</button>
  </form>

  <button onclick="fetch('/sample').then(res => res.json()).then(data => console.log(data))">
    sample
  </button>
  
  

</body>
</html>